body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 50px;
}

.form-control-static {
  height: 70px;
  margin-bottom: 15px;
}

.field iframe {
  appearance: none;
  outline: none;
  height: 52px;
  width: 100%;
  background-color: #fff;
  border: 2px solid #9d9a9f;
  border-radius: 8px;
  box-shadow: inset 0 0 0 1px transparent;
  transition: box-shadow 0.25s, border-color 0.25s;
  font-size: 16px;
  padding: 0 15px;
}

.field {
  padding-top: 18px;
  width: 350px;
  position: relative;
  margin-bottom: 15px;
}

.field label {
  position: absolute;
  width: 100%;
  left: 15px;
  bottom: 21px;
  font-size: 16px;
  color: #cfd7df;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transform-origin: 0 50%;
  cursor: text;
  pointer-events: none;
  transition-property: color, transform;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  will-change: transform;
}

.field.field--focused iframe {
  box-shadow: 0 0 0 1px #1364f1, 0 0 4px #1364f1;
}

.field.field--focused label,
.field:not(.field--empty) label {
  color: #aab7c4;
  transform: scale(0.85) translate(-6px, -42px);
  cursor: default;
  left: 5px;
  top: 25px;
}

.field.field--valid label {
  color: #249e4c;
}

.field.field--valid iframe {
  border-color: #249e4c;
}

.field.field--invalid.field--touched label {
  color: #c90000;
}

.field.field--invalid.field--touched iframe {
  border-color: #c90000;
}
